<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
    <title>SUAS - Late Arrival Document </title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <div class="logo">
                <img src="/static/logoTitle.svg" width="232" height="49" class="d-inline-block align-top" alt=""> Schmalkalden University - Auto-generation SUAS documents
            </div>
        </a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="menu">
            </div>
        </div>
    </nav>
    <h4>SUAS - Late Arrival Document</h4>
    <h5>Please provide the following information correctly in order to generate the document which you need:</h5>
    <div class="container"><br>
        <div class="row align-items-center justify-content-center">
            <div class="col-md-4">
                <form action="/latearrival" method="post">
                    <label for="gender">Choose your gender:</label>
                    <select id="genderattr" name="genderattrs">
                        <option value="mr">Mr.</option>
                        <option value="ms">Ms.</option>
                    </select> <br>
                    <label for="name">Enter Name: </label> <br>
                    <input type="text" name="name" value="" required> <br>

                    <label for="surname">Surname: </label> <br>
                    <input type="text" name="surname" value="" required> <br>

                    <label for="countryattribute"> Country : </label> <br>
                    <input type="text" name="countryattribute" value="" required> <br>

                    <label for="cityattribute"> City : </label> <br>
                    <input type="text" name="cityattribute" value="" required> <br>

                    <label for="zipcode"> Zipcode : </label> <br>
                    <input type="text" name="zipcode" value="" required> <br>


                    <label for="address1"> Address 1: </label> <br>
                    <input type="text" name="address1" value="" required> <br>
                    <label for="address2"> Address 2: </label> <br>
                    <input type="text" name="address2" value=""> <br>
                    <label for="numberaddress"> Number of Address: </label> <br>
                    <input type="number" name="numberaddress" value=""> <br>

                    <label for="studentid">Student ID: </label> <br>
                    <input type="number" name="studentid" value="" required> <br>

                    <label for="degreefield">Degree Field: <br>(e.g.: Business Administration)</label> <br>
                    <input type="text" name="degreefield" value="" required> <br><br>
                    <div class="wrapper">
                        <input type="submit" value="Submit" class="btn btn-success">
                    </div>
                </form>
            </div>
            <br>
        </div>
        <br>
    </div>
</body>

</html>