<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
    <meta charset="UTF-8">
    <title>Document for Presence Letter </title>
</head>

<body>
    <h1>Online Semester Participation</h1>
    <h3>Please provide the following information in order to generate the document which you need:</h3>
    <form action="/presenceletter" method="post">
        <label for="name">Enter Name: </label>
        <input type="text" name="name" value="" required>

        <label for="surname">Surname: </label>
        <input type="text" name="surname" value="" required> <br><br>

        <label for="semester">Choose a semester:</label>
        <select id="semestera" name="semesters">
            <option value="winter">Winter</option>
            <option value="summer">Summer</option>
        </select>

        <label for="yearsattr">Enter the years: (for instance: 2021/2022)</label>
        <input type="text" name="yearsattr" value="" required> <br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>

