<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Proof of participation in english courses </title>
</head>

<body>
    <h1>Please provide the following information in order to generate the document which you need:</h1>
    
    <label for="semester">Choose your gender:</label>
    <select id="genderattr" name="semesters">
        <option value="mr">Mr.</option>
        <option value="ms">Ms.</option>
    </select>
    <label for="name">Enter Name: </label>
    <input type="text" name="name" value="" required> <br><br>
    <label for="surname">Enter Surname: </label>
    <input type="text" name="surname" value="" required> <br><br>

    <label for="idstudentattribute">Enter your Student ID: </label>
    <input type="number" name="name" value="" required> <br><br>

    <label for="semestera">Choose a semester:</label>
    <select id="semestera" name="semestera">
        <option value="winter">Winter</option>
        <option value="summer">Summer</option>
    </select>

    <label for="yearsattribute">Enter the years: (for instance: 2021/22)</label>
    <input type="text" name="yearsattribute" value="" required> <br><br>


    <input type="submit" value="Submit">
    </form>
</body>

</html>

<!-- Proof of participation in english courses 
dateattribute
- Name attribute(name+surname)
idstudentattribute (number)
Gender attribute (Ms. / Mr.)
Semesterattribute (Winter/Summer)
yearsattribute (2020/2021 …) -->