<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
    <title>Proof of Language Requirements </title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <div class="logo">
                <img src="/static/logoTitle.svg" width="232" height="49" class="d-inline-block align-top" alt=""> Schmalkalden University - Auto-generation SUAS documents
            </div>
        </a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="menu">
            </div>
        </div>
    </nav>
    <h4>Proof of Language Requirements</h4>
    <h5>Please provide the following information correctly in order to generate the document which you need:</h5>
    <div class="container"><br>
        <div class="row align-items-center justify-content-center">
            <div class="col-md-4">
                <form action="/proofoflanguagerequirements" method="post">
                    <label for="name">Name: </label><br>
                    <input type="text" name="name" value="" required><br>

                    <label for="surname">Surname: </label><br>
                    <input type="text" name="surname" value="" required> <br>

                    <label for="yearsattr"> Years: <br>(e.g. 2021/2022)</label><br>
                    <input type="text" name="yearsattr" value="" required> <br>

                    <label for="matnum">Matriculation Number: </label><br>
                    <input type="text" name="matnum" value="" required> <br>

                    <label for="degreetype">Degree Type:</label><br>
                    <select id="degreetypea" name="degreetypes">
                        <option value="bsc">B.Sc.</option>
                        <option value="msc">M.Sc.</option>
                    </select><br>
                    <label for="degreefield">Degree Field: <br> (e.g.: Business Administration)</label><br>
                    <input type="text" name="degreefield" value="" required> <br><br>

                    <div class="wrapper">
                        <input type="submit" value="Submit" class="btn btn-success">
                    </div>
                </form>
            </div>
            <br>
        </div>
        <br>
    </div>
</body>

</html>